.optionsWrap {
	width: 100%;
	display: flex;
	max-height: 220px;
	flex-wrap: wrap;
	flex-shrink: 0;
	overflow-y: auto;
	.optionItem {
		min-width: 130px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		border: 1px solid rgba(51, 51, 51, 0.1);
		background-color: #fff;
		cursor: pointer;
		padding: 0 24px;
		font-size: 14px;
		color: #666;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.optionItemActive {
		background-color: #245ff2;
		border: 1px solid #edf2fe;
		color: #fff;
	}
}
