.funcPermission {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-shrink: 0;
	align-items: stretch;
	padding-top: 30px;
	overflow: hidden;

	.itemOne {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 20px;
		.itemLabel {
			font-size: 14px;
			color: #666666;
			margin-top: 5px;
			padding-right: 36px;
		}
		.itemFeild {
			flex: 1;
		}
		&:last-of-type {
			margin-bottom: 5px;
		}
	}

	.itemTwo {
		width: 100%;
		display: flex;
		flex: 1;
		// height: calc(100% - 65px);
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 20px;
		.itemLabel {
			font-size: 14px;
			color: #666666;
			margin-top: 5px;
			padding-right: 36px;
		}
		.itemFeild {
			flex: 1;
		}
		&:last-of-type {
			margin-bottom: 5px;
		}
	}
}
