.cusBreadcrumb {
	display: flex;
	flex: 1;
	justify-content: flex-start;
	align-items: center;
	font-size: 14px;
	color: #999;
	margin-bottom: 10px;
	flex-shrink: 0;

	.nomalPath {
		color: #b4b4b4;
		cursor: pointer;
	}

	.lastPath {
		color: #666;
		cursor: pointer;
	}
}
